.switchesContainer{
    width: 35%;
    height: 35%;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.switchContainer{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 40%;
}

.powerButton{
    background: none;
    border: none;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.label{
    color: aqua;
    text-shadow: 0px 0px 2px aqua;
    font-size: 24px;
    margin: 10px;
}

.powerIcon{
    color: aqua;
    font-size: 50px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.powerIconOff{
    color: darkgray;
    font-size: 50px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.bankSwitch{
    transform: rotate(90deg);
    margin: 8px 0;
}